.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;

  .navbar-wrap {
    background: #f8f8f8;

    .navbar {
      padding: 0px;
      border: 0px;
      border-radius: 0px;
      border-top: 1px solid rgba(221, 221, 221, 0.38);

      .nav-item {
        margin-right: 45px;
        padding: 10px 0;

        &:last-child {
          margin-right: 0;
        }

        .nav-link {
          font: 500 12px/80px "Roboto", sans-serif;
          text-transform: uppercase;
          color: #222222;
          padding: 0px;
          display: inline-block;

          &:hover,
          &.active {
            color: #ea2c58;
          }
        }
      }
    }
  }
}


.logo {
  max-height: 64px;
}

.active {
  color: #ea2c58;
}

@media (max-width: 991px) {
  .header {
    .navbar-collapse {
      max-height: 340px;
      overflow-y: scroll;
      padding-bottom: 20px;
    }

    .navbar {
      .nav {
        .nav-item {
          margin-right: 0px;
          padding: 0;

          .nav-link {
            line-height: 40px;
            margin-right: 0px;
            display: block;
            border-bottom: 1px solid #ededed33;
            border-radius: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    .navbar {
      .nav {
        float: left;
      }
    }
  }
}