.banner-section {
  background: url('../../static/banner.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  height: 768px;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);

  .overlay {
    background: rgba(24, 24, 24, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    z-index: -1;
  }

  .banner-inner {
    position: relative;
    width: 100%;
    min-height: 768px;

    .banner-content {
      color: #222222;
      padding-top: 0;
      align-self: center;
      vertical-align: middle;
      text-align: center;

      .text {
        font-size: 1.75rem;
        font-weight: bold;
        color: #ea2c58;
        line-height: 1.5;
      }

      h1 {
        color: #ffffff;
        font-weight: bold;
        line-height: 1.5;

        span {
          display: block;
          font-size: .6em;
          font-weight: lighter;
        }
      }
    }
  }
}

.button {
  display: inline-block;
  background: #ea2c58;
  padding: 0px 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s;
  border-radius: 5px;
  text-transform: capitalize;

  &:hover {
    background: #ffffff;
    color: #ea2c58;
  }
}

@media (min-width: 576px) {
  .banner-section {
    .banner-inner {
      .banner-content {
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .banner-section {
    .banner-inner {
      .banner-content {
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .banner-section {
    .banner-inner {
      .banner-content {
        h1 {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .banner-section {
    .banner-inner {
      .banner-content {
        h1 {
          font-size: 4.5rem;
        }
      }
    }
  }
}