.hero-section {
  background: url('../../static/hero.jpeg') no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  height: 768px;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);

  .overlay {
    background: rgba(24, 24, 24, 0.33);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    z-index: -1;
  }

  .hero-inner {
    position: relative;
    width: 100%;
    min-height: 768px;

    .hero-content {
      color: #222222;
      padding-top: 96px;
      align-self: center;
      vertical-align: middle;
      text-align: center;

      h1{
        color: #ffffff;
        font-weight: bold;

        span {
          font-size: 1.5em;
          color: #ea2c58;
        }  
      }
    }
  }
}

@media (min-width: 576px) {
  .hero-section {
    .hero-inner {
      .hero-content {
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hero-section {
    .hero-inner {
      .hero-content {
        h1 {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .hero-section {
    .hero-inner {
      .hero-content {
        h1 {
          font-size: 4.5rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero-section {
    .hero-inner {
      .hero-content {
        h1 {
          font-size: 5.5rem;
        }
      }
    }
  }
}