.leaders-section {
  background-color: #ffffff;
  text-align: center;
  padding: 120px 0;

  .title {
    color: #ea2c58;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  
    span {
      color: #222222;
      font-size: 1.25em;
      display: block;
    }
  }

  .description {
    color: #222222;
    font-size: 1rem;
    max-width: unset;
    margin: auto;
    line-height: 1.5;
  }
}

.members-section {
  background-color: #ea2c58;
  text-align: center;
  padding: 60px 0;

  .title {
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  .leaders-section {
    .title {
      font-size: 2.5rem;
    }
  }
  
}

@media (min-width: 1200px) {
  .leaders-section {
    .title {
      font-size: 3rem;
    }
  }
  
}