.mission-section {
  background-color: #f8f8f8;
  padding: 60px 30px;
}

.title {
  font-size: 3rem;
}

.mission-box-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

.mission-box {
  border: 1px solid #dddddd;
  padding: 60px 30px;
  text-align: center;
  max-height: 304px;
  transition: all 300ms linear 0s;
  
  &:hover {
    border-color: #ea2c58;
    h4 {
      color: #ea2c58;
    }
  }

  img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 300ms linear 0s;
    transform: scale(1.25);
  }

  h4 {
    font-size: 1.5rem;
    margin: 30px 0 10px;
    transition: all 300ms linear 0s;

    &:hover {
      cursor: default;
    }
  }
}