.profile {
  text-align: center;

  img {
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.25s ease-in-out;
    width: 12rem;
    height: 12rem;

    &:hover {
      transform: scale(1.05);
    }
  }

  h4 {
    margin-bottom: 1rem;

    &.white {
      color: #ffffff;
    }
  }

  p {
    color: #7a7a7a;
    margin-bottom: 0;
    line-height: 1.5;

    &.white {
      color: #ffffff;
    }
  }
}