.banner-area {
  position: relative;
  z-index: 1;
  min-height: 445px;

  .banner-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 445px;
    background: url('../../static/hero.jpeg') no-repeat;
    background-size: cover;
    background-position: center 25%;
    z-index: 1;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);

    .overlay {
      background: rgba(0, 0, 0, 0.42);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .banner-content {
      position: relative;
      z-index: 10;

      h2 {
        color: #ffffff;
        font-size: 48px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 12px;
        font-weight: 500;
        margin-top: 120px;
      }

      .page-link {

        a {
          font-size: 14px;
          color: #ffffff;
          font-family: "Roboto", sans-serif;
          margin-right: 32px;
          position: relative;

          &:first-child::before {
            content: "\e87a";
            font-family: 'Linearicons-Free';
            font-size: 14px;
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            color: #ea2c58;
          }
        }
      }
    }
  }
}