.values-section {
  background-color: #f8f8f8;
  text-align: center;
  padding: 120px 0;
}

.title {
  color: #222222;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.description {
  color: #222222;
  font-size: 2rem;
  max-width: 680px;
  margin: auto;
  line-height: 1.5;
  font-weight: bold;

  span {
    color: #ea2c58;
  }
}