.vision-section {
  background-color: #ea2c58;
  text-align: center;
  padding: 120px 0;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.description {
  color: #ffffff;
  font-size: 1.5rem;
  max-width: 680px;
  margin: auto;
  line-height: 1.5;
}