.history {
  margin-bottom: 1rem;
  padding: 2rem 0;

  h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #ea2c58;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 1.15rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.5;
    
    &:not(:last-child) {
      margin-bottom: 1.15rem;
    }
  }

  img {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 2rem;
  }

  .img-show-lg {
    display: none;
  }

  .img-show-sm {
    display: block;
  }
}

@media (min-width: 576px) {
  .history {
    margin-bottom: 1.5rem;
    h2 {
      
    }
    .img-show-lg {
      display: none;
    }
  
    .img-show-sm {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .history {
    margin-bottom: 2rem;
    h2 {
      
    }
    .img-show-lg {
      display: none;
    }
  
    .img-show-sm {
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .history {
    margin-bottom: 2.5rem;
    h2 {
      text-align: unset;
    }
    .img-show-lg {
      display: block;
    }
  
    .img-show-sm {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .history {
    h2 {
      
    }
    .img-show-lg {
      display: block;
    }
  
    .img-show-sm {
      display: none;
    }
  }
}